<!-- educational project for portfolio -->
<div class="row">
  <div class="col-md-6 ">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <!-- create button slide. -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10"
          aria-label="Slide 11"></button>
      </div>

      <!-- show image in template. -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="w1.png" class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="w2.png" class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w3.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w5.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Four slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w6.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Five slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w7.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Six slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w8.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Seven slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w10.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Eight slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w11.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Nine slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w12.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>Ten slide label</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="w13.png" class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Eleven slide label</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- show description of project  -->
  <div class="col-md-6">
    <h6>Description</h6>
    <p>We design varioues page like home,latest job, scolarship,
      collage, etc. We design many shareable component and login.
      We also design admin dashboard to add the information he listed in the website. </p>
    <ul class="text-start">
      <li>
        Design Main pages includes home, latest job, etc.
      </li>
      <li>
        Design admin page to add the post in database.
      </li>
      <li>
        create rest api for login, regiatration and post.
      </li>
      <li>
        Test api on postman.
      </li>
      <li>
        MySQL to store a data.</li>
      <li>
        Technical Requirements
      </li>
    </ul>
  </div>
</div>