<!-- This is the main-header container -->
<div class="main-header-wrapper  ">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 h5" href="#">Ankit Kumar Singh<br><span>(software Deveoper)</span> </a>
      <!-- we used button when the screen size is small to make your website responsive -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- we list the nav-list-item in the main-heade. -->
      <div class="collapse navbar-collapse ms-5" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-5 mb-2 mb-lg-0">
          <li class="nav-item h6 me-4 ">
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#home">Home</a>
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#experience">Experience</a>
          </li>
          <li class="nav-item h6 me-4   ">
            <a class="me-4
                link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#education">Education</a>
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#skills">Skills</a>
          </li>
          <li class="nav-item me-4  h6">
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#project">Project</a>
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#certificate">Certificate</a>
          </li>
          <li class="nav-item h6 me-4 ">
            <a class="me-4 
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#portfolio">Portfolio</a>
            <a class="me-4
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#hobbies">Hobbies</a>
          </li>
          <li class="nav-item h6 me-4">
            <a class="me-4 
                  link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
              href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>