<div class="skills-wrapper container px-4 mb-3 text-center">
    <div class="row ">
        <div class="col-md-6">
            <div class="list-group">
                <p class="list-group-item list-group-item-primary h5" aria-current="true">TECHNICAL SKILL</p>
                <a href="#technical" class="list-group-item list-group-item-action" appTooltipTemplate
                    [myTemplate]="lastNameTem">
                    <span class="h6 ">Programming:- </span> Java, OOPs C, C++, SQL, NoSQL, DSA.
                    <ng-template #lastNameTem>
                        <div class=" container text-start">
                            <li>
                                Java : 3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                            <li>
                                OOPs : 3/5 <i class="bi bi-star "></i>
                            </li>
                            <li>
                                C : 2.75/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                C++ : 2.75/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                SQL : 3/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                NoSQL : 2.25/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                DSA : 3/5 <i class="bi bi-star"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
                <a href="#technical" class="list-group-item list-group-item-action " appTooltipTemplate
                    [myTemplate]="lastNameTem1">
                    <span class="h6">Frontend: </span> HTML, CSS, JPS, JavaScript, Angular 18, Bootstrp.
                    <ng-template #lastNameTem1>
                        <div class=" container text-start">
                            <li>
                                HTML : 3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                            <li>
                                CSS : 3/5 <i class="bi bi-star "></i>
                            </li>
                            <li>
                                JPS : 2.25/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                JavaScript : 3/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                Angular 18 : 3/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                Bootstrap : 3/5 <i class="bi bi-star"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
                <a href="#technical" class="list-group-item list-group-item-action" appHoverTooltip appTooltipTemplate
                    [myTemplate]="lastNameTem2">
                    <span class="h6">Backend: </span> SpringBoot, JDBC, MySQL, Rest APIs, Hibernate.
                    <ng-template #lastNameTem2>
                        <div class=" container text-start">
                            <li>
                                SpringBoot : 2.5/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                            <li>
                                JDBC : 2.5/5 <i class="bi bi-star "></i>
                            </li>
                            <li>
                                MySQL : 3/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                Rest APIs : 2.75/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                Hibernate: 2/5 <i class="bi bi-star"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
                <a href="#technical" class="list-group-item list-group-item-action " aria-disabled="true"
                    appHoverTooltip appTooltipTemplate [myTemplate]="lastNameTem3">
                    <span class="h6">Other: </span> Github, Docker, Design Pattern, AWS Elastic Beanstalk, Postman .
                    <ng-template #lastNameTem3>
                        <div class="   container text-start">
                            <li>
                                Github : 02.5/5 <i class="bi bi-star "></i>
                            </li>
                            <li>
                                Docker : 2/5 <i class="bi bi-star "></i>
                            </li>
                            <li>
                                Design Pattern : 2.25/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                AWS Elastic Beanstalk : 2/5 <i class="bi bi-star"></i>
                            </li>
                            <li>
                                Postman : 2/5 <i class="bi bi-star"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <p class="list-group-item list-group-item-primary h5" aria-current="true">INTERPERSONAL SKILL</p>
                <a href="#technical" class="list-group-item list-group-item-action" appTooltipTemplate
                    [myTemplate]="lastNameTem4">
                    Decision Making and Strategic thinker.
                    <ng-template #lastNameTem4>
                        <div class=" container text-start">
                            <li>
                                3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
                <a href="#technical" class="list-group-item list-group-item-action" appTooltipTemplate
                    [myTemplate]="lastNameTem5">
                    Team Leadership and good at networking.
                    <ng-template #lastNameTem5>
                        <div class=" container text-start">
                            <li>
                                3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                        </div>
                    </ng-template> </a>
                <a href="#technical" class="list-group-item list-group-item-action" appTooltipTemplate
                    [myTemplate]="lastNameTem6">
                    Good collaboration and co-ordination skills.
                    <ng-template #lastNameTem6>
                        <div class=" container text-start">
                            <li>
                                3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                        </div>
                    </ng-template> </a>
                <a href="#technical" class="list-group-item list-group-item-action " aria-disabled="true"
                    appTooltipTemplate [myTemplate]="lastNameTem7">
                    Time Management and dependability and able to work with deadlines.
                    <ng-template #lastNameTem7>
                        <div class=" container text-start">
                            <li> 3/5 <i class="bi bi-star .bg-warning"></i>
                            </li>
                        </div>
                    </ng-template>
                </a>
            </div>
        </div>
    </div>
</div>