<!-- multilevel project portfolio. -->
<div class="multiLevel-wrapper row">
  <div class="col-md-6 ">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <!-- image slide  -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="c10.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="c8.png" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="c9.png" class="d-block w-100 img-fluid" alt="..." data-bs-interval="2000">
        </div>
        <div class="carousel-item">
          <img src="c7.png" class="d-block w-100 img-fluid" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- write description. -->
  </div>
  <div class="col-md-6">
    <h6>Description</h6>
    <p>This system will allow users to create comments, reply to existing comments, and retrieve comments </p>
    <ul class="text-start">
      <li>
        User Authentication
      </li>
      <li>
        Create Comment API
      </li>
      <li>
        Reply to Existing Comment API
      </li>
      <li>
        Get Comments for a Post API
      </li>
      <li>
        Expand Parent-Level Comments API with Pagination
      </li>
      <li>
        Technical Requirements
      </li>
    </ul>
  </div>
</div>