<!-- portfolio  -->
<div class="portfolio-wrapper container text-center mb-3">
  <ul class="list-group ">
    <li class="list-group-item list-group-item-primary h5" aria-current="true">PORTFOLIO</li>
    <li class="list-group-item mb-3">
      <h5>Educational information website Using Angular18 and springboot.(Present)</h5>
      <!-- use education project componenet. -->
      <app-educational-project></app-educational-project>
    </li>
    <li class="list-group-item">
      <!-- use multilevel comment project componenet. -->
      <h5>Multi-Level Comment System.</h5>
      <app-multilevel-comment-project></app-multilevel-comment-project>
    </li>
  </ul>
</div>