<!-- project  -->
<div class="project-wrapper container text-center mb-3">
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary h5" aria-current="true">PROJECT</li>
    <li class="list-group-item">
      <h5> Educational information website Using Angular18 and springboot.(Present)</h5>
      <p>Technology used in this is Angular 18, Bootstrap,HTML, CSS, JavaScript, MySQL, Spring JPA, springboot.
        User see information of education information. We design varioues page like home,latest job, scolarship,
        collage, etc. We design many shareable component and login. We also design admin dashboard to add the
        information he listed in the website. Used spring jpa for database connection and used mysql database.
        Design api to exchange the information between frontend to backend using spring boot and test the api using the
        postman.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Multi-Level Comment System.</h5>
      <p> The objective is to design and implement a set of API endpoints for a social media platform that
        handles multi-level comments on posts. This system will allow users to create comments, reply to
        existing comments, and retrieve comments with pagination. Additionally, user authentication and
        rate limiting should be implemented to ensure secure and efficient usage of the API.
        The project should be dockerized and deployed to a hosting service.
      </p>
    </li>
    <li class="list-group-item">
      <h5> E-Commerce Website Using Hibernate Framework.</h5>
      <p> Technology used in this is Core+Adv java, Jsp, Servlet, Bootstrap, Hibernate, CSS, JavaScript, MySQL.
        User can login or create account and search their product for buying. And order the products.
      </p>
    </li>
    <li class="list-group-item">
      <h5> Electric Billing System</h5>
      <p> Technology used in this is Core java, Oracle SQL.
        Admin add all details of a customer.Then, the customer create their account.
        Admin calculate bill according to meter reading. Customer Pay the their bill from website.
      </p>
    </li>
  </ul>
</div>