<div class="slideInLeft" id="resumeContent"> 

<section class="block" id="top">
  <app-main-header></app-main-header>
</section>

<section class="block" id="home">
  <app-home></app-home>
</section>

<div class="container px-4 text-center">
  <div class="row ">
    <div class="col-md-6">
      <section class="block" id="experience">
        <app-experience></app-experience>
      </section>
    </div>
    <div class="col-md-6">
      <section class="block" id="education">
        <app-education></app-education>
      </section>
    </div>
  </div>
</div>

<section class="block" id="skills">
  <app-skills></app-skills>
</section>

<section class="block" id="project">
  <app-project></app-project>
</section>
<div class="container  text-center mb-3">
  @if(showCertificate){
  <section class="block" id="certificate" >
    <app-certificate></app-certificate>
  </section>
  }
  <button type="button" (click)="toggleSectionCertificate()" class="btn btn-outline-secondary">Toggle
    certificate</button>
</div>
<div class="container   text-center mb-3">
  @if(showProject){
  <section class="block" id="portfolio"  >
    <app-portfolio></app-portfolio>
  </section>
  }
  <button type="button" (click)="toggleProject()" class="btn btn-outline-secondary">Toggle Project</button>
</div>
<div class="container   text-center mb-3">
  @if(showHobbies){
  <div class="container px-4 text-center"  >

    <section class="block" id="hobbies">
      <app-hobbies></app-hobbies>
    </section>
  </div>
  }
  <button type="button" (click)="toggleSection()" class="btn btn-outline-secondary">Toggle Hobbies</button>
</div>
<app-main-footer class="block"></app-main-footer>
</div>