<!-- write certificate. -->
<div class="certificate-wrapper container text-center mb-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary  h5" aria-current="true">CERTIFICATE</li>
        <li class="list-group-item">
            Java Programming & DSA Course, Edusera.
        </li>
        <li class="list-group-item">
            Problem Solving With Data Structures & Algorithms, Chandigarh University.
        </li>
        <li class="list-group-item">
            Java Programming and Software Engineering Fundamentals Specialization, Coursera.
        </li>
        <li class="list-group-item">
            Git & GitHub, Internshala.
        </li>
        <li class="list-group-item">
            Full-Stack Development Course, Kodnest.
        </li>
    </ul>
</div>