<!-- hobbies  -->
<div class="hobbies-wrapper container text-center mb-3">
    <ul class="list-group">
        <li class="list-group-item active h5" aria-current="true">HOBBIES | INTERESTS</li>
        <li class="list-group-item">
            Learning | Software Cricket | Sudoku.
        </li>
        <li class="list-group-item">
            Coding | Chess Yoga | Exercise.
        </li>
        <li class="list-group-item">
            Politics | Explore Things | Bussiness.
        </li>
    </ul>
</div>