<!-- home -->
<div class="container overflow-hidden text-center ">
  <div class="row ">
    <div class="col-md-6">
      <div class="p-3">
        <h1> Hello, I'm<br>Ankit kumar Singh.</h1>
        <q class="fs-5  ">software Developer</q>
        <p class="fs-4 mt-3 text-start fw-normal">
          A well-organized and goal-oriented Software Development Engineer
          with good problem-solving, leadership and creative skills. Always
          ready to learn new skills and technology.
        </p>
        <!-- button to download resume pdf  -->
        <button type="button" (click)="downloadPdf()" class="btn btn-outline-success bi bi-download">Download
          Resume</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-3">
        <!-- image  -->
        <img src="WhatsApp Image 2024-08-06 at 12.35.16(1)(1).png" class="img-fluid border border-dark rounded-circle"
          alt="Profile Picture" style="height: 18rem; width: 18rem;"> <br>
        <!-- email  -->
        <a class="bi bi-envelope-at me-2 h5
                link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          href="mailto:ankitsingh.shiva108@gmail.com" target="_blank">ankitsingh.shiva108&#64;gmail.com</a> <br>
        <!-- phone  -->
        <a class="bi bi-phone me-2 h4
                link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          href="tel:+91-9835832178" target="_blank">+91-9835832178</a>
      </div>
    </div>
  </div>
</div>