<!-- This is the footer container -->
<div class="main-footer-wrapper container mb-2">

  <div class="card text-center">
    <div class="card-header">

      <!-- this is for linkedin link -->
      <a class="bi bi-linkedin me-2 h2
                link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        href="https://www.linkedin.com/in/aksingh0108/" target="_blank">Linkedin</a>

      <!-- this is github link  -->
      <a class="bi bi-github me-2 h2
                link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover "
        href="https://github.com/aksingh0108" target="_blank">Github</a>

    </div>

    <!-- this is for contact us details  -->
    <div class="card-body">
      <section id="contact-us">
        <app-contact-us></app-contact-us>
      </section>
      <!-- this is for go top of the website. -->
      <a href="#top" class="btn btn-primary mt-2">Go Top</a>
    </div>

    <!-- this is for copyright. -->
    <div class="card-footer text-body-secondary">
      <p class="bi bi-c-circle">2024 [Ankit Singh] All rights reserved. </p>
    </div>
  </div>

</div>